# Virtualenv
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-workspace

# System
.DS_Store
Thumbs.db


# Secrets / certs
*.key
*.crt
*.pem
dummy_acc.txt

# Local data
db.sqlite3
media/
profile_photos/
staticfiles/

# Credentials list
accounts.txt
email_previews/
